/* FONTS START */
/* ---------------------------------- */
/* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/poppins-v20-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v20-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/poppins-v20-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-500italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/poppins-v20-latin-500italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/poppins-v20-latin-500italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/poppins-v20-latin-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v20-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/poppins-v20-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-800 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/poppins-v20-latin-800.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/poppins-v20-latin-800.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* port-lligat-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Port Lligat Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/port-lligat-sans-v18-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/port-lligat-sans-v18-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* FONTS END */
/* ---------------------------------- */
/* ROOT STYLES START */
html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 500;
    background-color: #fff;
}

img{
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container{
    width: 100%;
    max-width: 1658px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

ol,
ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

a{
    text-decoration: none;
}
/* /ROOT STYLES END */

/* ------------------------------------- */

/* DEV STYLES START */
/* --------------------------- */
/* HEADER STYLES START */

.site-header {
    margin-bottom: 68px;
}

.site-header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 85px;
    padding-bottom: 85px;
}

.imagescontainer {
    display: block;
    align-items: center;
    justify-content: center;
    width: 162px;
}

.header__logo--img1 {
    display: inline-block;
    width: 38px;
    height: 46px;
    margin-right: 5px;
}

.header__logo--img2 {
    display: inline-block;
    width: 109px;
    height: 35px;
    padding-bottom: 8px;
}
/* ----------------------------- */

.header__wrapper--end {
    display: flex;
    align-items: center;
}
.site-nav__list {
    display: flex;
    margin-right: 220px;
}

.site-nav__item {
    margin-right: 85px;
}

.site-nav__link {
    box-sizing: border-box;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    color: #404242;
}

.site-nav__link:active {
    font-weight: 700;
    font-size: 25px;
    line-height: 38px;
    color: #58A9A5;
}

.site-nav__link:active::after{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 48px;
    height: 6px;
    background: #FEC62D;
    border-radius: 21px;
    content: "";
}

/* --------------------------------------- */
.signup_btn {
    display: inline-block;
    box-sizing: border-box;
    
    padding: 21px 88px;
    font-size: 25px;
    line-height: 38px;
    color: #fff;
    background: #58a9a5;
    border-radius: 15px;
}

/* HEADER STYLES END */

/* MAIN STYLES START */
/* MAIN STYLES END */

/* FOOTER STYLES START */
/* FOOTER STYLES END */

/* DEV STYLES END */
